application/cache/*
application/config/database.php
class_db/conexion.php
validation/conexion.php
!application/cache/index.html
!application/cache/.htaccess
application/config/*
application/config/*
assets/js/change_pages.js
!application/config/*

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/



