#tabs2 {
   /* float:left; */
   width:100%;
   background:#fff;
   /* border-bottom:4px solid #66CC00; */
   overflow:hidden;
   position:relative;
   margin-bottom: 5px;
}
#tabs2 ul {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}
#tabs2 ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;

}
#tabs2 ul li a {
   display:block;
   margin:0 0 0 1px;
   padding:3px 10px;
   background:#C8BBD0;
   color:#FFFFFF;
   text-decoration:none;
   line-height:1.3em;
   	-moz-border-radius: 5px 5px 0px 0px ;
	-webkit-border-radius: 5px 5px 0px 0px ;
	border-radius: 5px 5px 0px 0px ;
}
#tabs2 ul li a:hover {
   background:#448207;
   color:#fff;
}
#tabs2 ul li a.active,
#tabs2 ul li a.active:hover {
   color:#fff;
   background:#66CC00;
   font-weight:bold;
}
