/*
.modzzz_polls_unit {
    height: 235px;
}

.modzzz_polls_unit_admin {
    position:relative;
}

.modzzz_polls_unit .sys_file_search_pic {
    height: 148px;
}

.modzzz_polls_unit .sys_file_search_pic img {
    height: 140px;
}
*/
.desc{
padding-bottom: 5px;
}

.highlighted{
	font-weight:bold;
}

.buttonbox{
padding: 5px 25px 5px 10px;
border: 1px solid #CCC;
font-weight: bold;
cursor: pointer;
display: block;
width: 20px;
background: #49166D;
color: white;
font-size: 10px;
-webkit-border-radius: 3px;
border-radius: 3px
 }

.poll_answer_padding{
  margin:5px 10px 10px 0px; 
}

.panel{
	display:none;
}

.modzzz_polls_unit {
	padding: 0px;
	margin: 10px;
	overflow: hidden;
	position: relative;
}

.modzzz_polls_unit .thumbnail_block {
    left:0;
    position:absolute;
    top:0;
}

.modzzz_polls_unit .cls_res_thumb {
    float:left;
}

.modzzz_polls_unit .unit_info {
    margin-left:80px;
    min-height:70px;
}

.modzzz_polls_unit .title {
    font-size:12px;
    margin-bottom:-3px;
    width:85%;
}

.modzzz_polls_unit .fr_small_gray_centered {
    color:#999;
    height:15px;
    line-height:15px;
    font-size:9px;
    float:left;
    overflow:hidden;
    margin-bottom:5px;
    vertical-align:middle;
}

.modzzz_polls_unit .margined {
    margin-right:5px;
    line-height:18px;
}

.modzzz_polls_unit .margined10 {
    margin-right:10px;
}

.modzzz_polls_unit .actions {
    font-weight:bold;
    font-size:12px;
}

.modzzz_polls_unit div.votes_small {
    position:absolute;right:0px;top:0px;width:auto;
}

.modzzz_polls_unit .unit_info .browseCheckbox {
    background-color:#FFCCCC;
    height:20px;
    left:1px;
    float:left;
    margin-right:5px;
    top:1px;
    width:20px;
}

