.agregar_producto:hover, .agregar_producto:focus  {
    color: yellow;
}
.items:focus{
	background: green;
	border:2px solid black;
	box-shadow: 0px 5px 10px grey;
	color:white;
}

#info_principal {
    position:fixed;
    right:0;
    top:30%;
    bottom: 55px;
    width:20%;
    overflow-y: auto;
    border-left:1px solid grey;
    font-size:1em;
    background: none;
}
.orden{
	position:fixed;
    right:0;
    top:70px;
    bottom: 55px;
    width:20%;
    overflow-y: auto;
    border-left:1px solid grey;
    font-size:0.8em;    
}

.items-collection{
	background: none;
}